<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="exmaralda"
            class="de.hu_berlin.german.korpling.saltnpepper.misc.exmaralda.ExmaraldaBasicPackage"
            genModel="model/exmaralda.genmodel"/>
   </extension>

</plugin>
